<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container wrapper">
            <div class="header">
                <h1 class="site-title"><a href="/">🌱 Hum's garden</a></h1>
                <div class="site-description"><p>A small piece of the internet dedicated to myself.</p></div>
            </div>
            <div class="recent-posts section">
                <div class="posts">
                    <% articles.map((article)=>{ %>
                        <div class="post">
                            <div class="post-header">
                                <div class="matter">
                                    <h2 class="title small">
                                        <a href="<%= article.link %>"><%= article.title %></a>
                                    </h2>
                                    <span class="description">
                                        <%= article.description %>
                                    </span>
                                    <span class="post-date">
                                        <%= article.date %>
                                    </span>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="footer">
                <nav class="nav">
                    <div>
                        <a href="">Buy me a coffee ☕️</a> || <a href="https://github.com/hum">GitHub</a>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>