<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="icon" type="image/png" href="/static/favicon.ico"/>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css"/>
        <title>hum.sh</title> 
    </head>
    <body>
        <div class="container wrapper">
            <div class="header">
                <h1 class="site-title"><a href="/">🌱 Hum's garden</a></h1>
                <div class="site-description"><p>A small piece of the internet dedicated to myself.</p></div>
            </div>
            <div class="section">
                <div class="header h1">
                    NOT FOUND
                </div>
                <%= text %>
            </div>
        </div>
    </body>
</html>